@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap');

/* font-family: 'Montserrat', sans-serif; */

/* font-family: 'Ubuntu', sans-serif; */

body {
    font-family: Montserrat;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

h2 {
    font-family: Montserrat;
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 900;
}

/* nav bar */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: 400;
}

/* download buttons */

.download-btn {
 margin: 5% 3% 5% 0;
} 

/* title img */

.title-img {
    width: 60%;
    transform: rotate(25deg);
}

/* features section */

.features {
    margin: 5rem 0;
    text-align: center;
}

.features-icon {
    color: #f75f76;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color: #ff4c68;

}

.features-subtitle {
    font-weight: bold;
}

.features-paragraph {
    padding: 5%;
    font-size: 1.25rem;
    color: #8f8f8f;
}

/* testimonials */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: white;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 1.125rem;
}

/* press */

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 1.125rem 1.125rem 3rem;
}